<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountestServlet</servlet-name>
        <servlet-class>com.udea.estudianteweb_lab1.controller.AccountestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarMateriaServlet</servlet-name>
        <servlet-class>com.udea.estudianteweb_lab1.controller.MostrarMateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculasServlet</servlet-name>
        <servlet-class>com.udea.estudianteweb_lab1.controller.MatriculasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountestServlet</servlet-name>
        <url-pattern>/AccountestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarMateriaServlet</servlet-name>
        <url-pattern>/MostrarMateriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculasServlet</servlet-name>
        <url-pattern>/MatriculasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
